= "#{@user.first_name} #{@user.last_name},"
= t(:opening, scope: :change_password)

= link_to t(".link_text", default: "Change my password"),
  edit_user_password_url(@user, token: @user.confirmation_token.html_safe)

= raw t(:closing, scope: :change_password)
