%h3.salutation
  = "#{@user.first_name} #{@user.last_name},"
%p
  = t(:opening, scope: :change_password)

%p
  = link_to t(:link_text, scope: :change_password),
    edit_user_password_url(@user, token: @user.confirmation_token.html_safe)

%p
  = raw t(:closing, scope: :change_password)
