%div.password-reset
  %h2
    = t(".title")

  %p
    = t(".description")

  = form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form|
    %div.password-field
      = form.label :password
      = form.password_field :password

    %div.submit-field
      = form.submit
